a {
	text-decoration: none;
}
a:link {color:#FFF;}      /* unvisited link */
a:visited {color:#FFF;}  /* visited link */
a:hover {color:#FFF;}  /* mouse over link */
a:active {color:#1fcaee;}  /* selected link */

#WelcomeBanner {
	width: 100%;
	height: 8%;
	position: fixed;
	top: 25%;
	text-align: center;
	z-index: 10;
	font-size: 4em;
	background: rgba(0,0,0,.6);
	color: silver;
}

#LocalButton, #RemoteButton, #SampleButton {
	width: 100%;
}

#LoadRemoteDialog {
	position: fixed;
	width: 300px;
	height: 150px;
	left: 35%;
	top: 35%;
	z-index: 99;
}

.SubmitCancel {
	position: absolute;
	width: 95%;
	height: 10%;
	bottom: 10px;
}

#RemoteCancel {
	float: right;
	width: 75px;
	height: 15px;
}

#RemoteSubmit {
	float: right;
	width: 75px;
	height: 15px;
}

#LoadingIcon {
	right: 0%;
	bottom: 10%;
	position: fixed;
	z-index: 100;
}

#SettingsDialog {
	width: 775px;
	height: 575px;
	left: 20%;
	top: 15%;
	position: fixed;
	text-align: center;
	z-index: 99;
}

.SettingsContainer {
	/*border-style: inset;
	border-size: 1;*/
	padding: 2px;
}

.SettingsCell {
	padding-bottom: 5px;
}

.divTitle {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}


#modal {
	display: none;
}

#modalborder{
	position: fixed;
	height: 90%;
	width: 20px;
	background: rgb(10,10,10)
}

#modal-handle, #inside-modal-handle{
	position: absolute;
	top: 45%;
	width: 100%;
	height: 10%;
	background: rgb(50,50,50);
}

#inside-modal-border{
	position: absolute;
	top: 0%;
	right: 0%;
	height: 100%;
	width: 10%;
	max-width: 20px;
	background: rgb(10,10,10);
	z-index: -1;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    
    position: absolute;
    position: fixed;
    top: 0;
    left: -10;
    height: 90%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 20%;
    padding-left: 5px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: rgba(10,10,10,.95);
    color: silver;
}

#CloseModalButton {
	width: 50px; 
	float: right;
	position: absolute;
	right: 25px;
	bottom: 10px;
}

.ButtonContainer{
	text-align: left;
	list-style-type: none;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	width: 100%;
}

#ControlBox {
	width: 100% !important;
	height: 10% !important;
	position: fixed !important;
	bottom: 0% !important;
	background: rgb(10,10,10);
}

#SongPosition {
	position: absolute;
	bottom: 10%;
	left: 0%;
	width: 100%;
}

#VolumeContainer {
	color: silver;
	position: absolute;
	right: 0%;
	top: 20%;
	width: 10%;
}

#ControlButtons {
	position: absolute;
	left: 35%;
	top: 1%;
	width: 50%;
	height: 50%;
}

#ContentButtons {
	position: absolute;
	top: 1%;
	right: 15%;
	height: 50%;
	width: 20%;
}

#PlaySound, #ResumeSound, #StopSound {
	height: 100%;
	width: 10%;
}

#PreviousSong, #NextSong {
	height: 50%;
	width: 12%;
}

#LocalButton {
	height: 50%;
	width: 100%;
}

#SongInfoContainer {
	position: absolute;
	color: silver;
	font-size: 1.2em;
	left: 5px;
	top: 5px;
	width: 30%;
	height: 60%;
}

#SongName {
	position: absolute;
	text-overflow: ellipsis;
	width: 100%;
}

.Button {
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: rgba(15,15,15,10);
	vertical-align: center;
	text-align: center;
	background: rgba(0,0,0,0);
	color: silver;
}

.Button:hover{
	cursor: pointer;
	border-color: rgba(255,255,255,10);
}


.Slider {
	-webkit-appearance: none;
	padding-left:2px;
	padding-right:2px;
	-webkit-border-radius: 5px;
	background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);
}

.Slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

#CBControls {
	height: 100%;
}


.TitleTable {
	width: 100%;
}

#ButtonContainer {
	height: 20%;
}

#CloseButton {
	width: 35px;
}

#SideWindow {
	width: 100%;
}

.citations {
	position: fixed;
	bottom: 10px;
}

.space {
	padding: 3px;
}

#SongQueue {
	position: absolute;
	width: 90%;
	height: 100%;
	left: 0%;
	text-overflow: ellipsis;
}

#QueueTitle{
	position: absolute;
	font-size: 2em;
	left: 25%;
	height: 5%;
}

#SongList {
	position: absolute;
	overflow-y: auto;
	overflow-x: none;
	top: 5%;
	height: 95%;
	width: 99%;
	padding-right: 20px;
	list-style-type: none; 
	left: 0%;
	margin: 0;
	padding: 0;
	text-overflow: ellipsis;
}

.Song {
	border-style: solid;
	border-width: 2px;
	border-color:silver;
	width: 90%;
	height: 3%;
	padding: 10px;
	font-family: "Lucida Console";
	text-overflow: ellipsis;
}

.Song:hover {
	background-color: silver;
	color:black;
	cursor: pointer;
	text-overflow: ellipsis;
}

.Playing {
	background-color: rgba(10, 117, 10,.6);

}

::-webkit-scrollbar {
      width: 15px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
      background-color: rgba(10,10,10,.95)
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
	background-color: rgba(115,115,115,1);
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
	background-color: rgba(100,100,100,1);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

body {
	position: fixed;
	background-color: rgb(20,20,20);
	margin: 0 !important;
}

canvas {
	width: 100% !important;
	height: 90% !important;
	top: 0%;
	position: fixed;
	z-index: -1000;
}