a {
	text-decoration: none;
}
a:link {color:#FFF;}      /* unvisited link */
a:visited {color:#FFF;}  /* visited link */
a:hover {color:#FFF;}  /* mouse over link */
a:active {color:#1fcaee;}  /* selected link */

#WelcomeBox {
	width: 300px;
	height: 200px;
	position: fixed;
	left: 35%;
	top: 35%;
	text-align: center;
	z-index: 99;
}

#LocalButton, #RemoteButton, #SampleButton {
	width: 100%;
}

#LoadRemoteDialog {
	position: fixed;
	width: 300px;
	height: 150px;
	left: 35%;
	top: 35%;
	z-index: 99;
}

.SubmitCancel {
	position: absolute;
	width: 95%;
	height: 10%;
	bottom: 10px;
}

#RemoteCancel {
	float: right;
	width: 75px;
	height: 15px;
}

#RemoteSubmit {
	float: right;
	width: 75px;
	height: 15px;
}

#LoadingDialog {
	left: 40%;
	top: 40%;
	height: 35px;
	width: 250px;
}

#SettingsDialog {
	width: 775px;
	height: 575px;
	left: 20%;
	top: 15%;
	position: fixed;
	text-align: center;
	z-index: 99;
}

.SettingsContainer {
	/*border-style: inset;
	border-size: 1;*/
	padding: 2px;
}

.SettingsCell {
	padding-bottom: 5px;
}

.divTitle {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}

#MainWindowSettings {
	text-align: left;
	position: absolute;
	left: 5px;
	top: 50px;
	width: 225px;
}

#DialogWindowSettings {
	position: absolute;
	left: 5px;
	top: 130px;
	width: 225px;
}

#DialogTitleSettings {
	position: absolute;
	width: 225px;
	top: 50px;
	left: 240px;

}

#DialogFooterSettings {
	position: absolute;
	width: 225px;
	top: 250px;
	left: 240px;
}

#ButtonSettings {
	position: absolute;
	width: 225px;
	top: 50px;
	left: 475px;
}


#CloseButtonSettings {
	position: absolute;
	width: 225px;
	left: 475px;
	top: 300px;
}

#ModalSettings {
	position: absolute;
	width: 225px;
	left: 100px;
	top: 430px;
}

#modal {
	display: none;
}

#CloseModalButton {
	width: 50px; 
	float: right;
	position: absolute;
	right: 25px;
	bottom: 10px;
}

.Close {
	position: absolute;
	height: 15px;
	width: 10px;
	top: 7px;
	right: 7px;
	border-radius: 50px !important;
	font-size: .8em;

}
.Close:hover {
	background-color: #ea0000 !important;

}

.DialogBox {

	position: fixed;
	z-index: 99;
	background-color: black;
	padding: 7px;
	color: white;
	text-align: center;
	/*min-width: 20%;
	min-height: 20%;*/
	background-color:#333;
	border: solid;
	border-size: 2px;
	border-color: white;
	border-radius: 5px;
}
.ButtonContainer{
	text-align: left;
	list-style-type: none;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	width: 100%;
}
.DialogTitle {
	min-height: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.3em;
	background-color: #404040;
}

.DialogFooter {
	width: 100%;
	position: absolute;
	max-height: 20px;
	bottom: 0px;
	left: 0px;
	background-color: #404040;
}

#ControlBox {
	width: 300px !important;
	height: 150px !important;
	position: fixed !important;
	right: 100px !important;
	bottom: 100px !important;
}

.Slider {
	-webkit-appearance: none;
	padding-left:2px;
	padding-right:2px;
	-webkit-border-radius: 5px;
	background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);
}

.Slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

.CBControls {
	height: 90%;
}


.TitleTable {
	width: 100%;
}

#ButtonContainer {
	height: 20%;
}

#CloseButton {
	width: 35px;
}

#SideWindow {
	width: 100%;
}

.Button {
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: gray;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: rgba(0,0,0,10);
	vertical-align: center;
	text-align: center
}

.Button:hover{
	cursor: pointer;
}

.citations {
	position: fixed;
	bottom: 10px;
}

.space {
	padding: 3px;
}

#SongQueue {
	width: 97%;
	right: 50px;
}

#SongList {
	overflow-y: auto;
	height: 300px;
}

.Song {
	position: abosolute;
	border-style: solid;
	border-width: 2px;
	border-color:silver;
	width: 97%px;
	padding: 10px;
	font-family: "Lucida Console";
}

.Song:hover {
	background-color: white;
	color:black;
	cursor: pointer;
}

.Playing {
	background-color: green;
}

body {
	position: fixed;
	background-color: #474747;
}

canvas {
	width: 99% !important;
	height: 100% !important;
	position: fixed;
	z-index: -1000;
}